*,
html {
  --primaryGradient: linear-gradient(93.12deg, #133c63 0.52%, #31679b 100%);
  --secondaryGradient: linear-gradient(
    268.91deg,
    #133c63 -2.14%,
    #31679b 99.69%
  );
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #14a5a1;
}

/* CHATBOX
=============== */
.chatbox {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 1111;
}

/* CONTENT IS CLOSE */
.chatbox__support {
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 300px;
  height: 350px;
  z-index: -123456;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/* CONTENT ISOPEN */
.chatbox--active {
  transform: translateY(-40px);
  z-index: 123456;
  opacity: 1;
}
.oculto {
  display: none;
}

/* BUTTON */
.chatbox__button {
  text-align: right;
}

.send__button {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* HEADER */
.chatbox__header {
  position: sticky;
  top: 0;
}

.logo_bot {
  height: 95%;
}

/* MESSAGES */
.chatbox__messages {
  margin-top: auto;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  gap: 1rem;
}

.messages__container {
  display: flex;
  gap: 0 0.5rem;
  flex-wrap: wrap;
  /* max-width: 60.6%; */
}

.message__contaner--operator {
  justify-content: end;
}

.messages__item--operator {
  /* margin-left: auto; */
}

.messages__item--visitor {
  /* margin-right: auto; */
}

/* FOOTER */
.chatbox__footer {
  position: sticky;
  bottom: 0;
}

.chatbox__support {
  /*background: #f9f9f9; */
  background: steelblue;
  height: 450px;
  width: 320px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
  -webkit-border-radius: 20px;
}

/* HEADER */
.chatbox__header {
  background: var(--primaryGradient);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 15%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
  height: 80%;
  margin-right: 10px;
  /* background-color: white;
    border-radius: 50%; */
}

.chatbox__heading--header {
  font-size: 1.2rem;
  color: white;
}

.chatbox__description--header {
  font-size: 0.9rem;
  color: white;
}

/* Messages */
.chatbox__messages {
  padding: 0 20px;
  font-size: 12px;
}

.messages__item {
  margin-top: 0px;
  background: #e0e0e0;
  padding: 8px 12px;
  max-width: 83%;
  word-wrap: break-word;
}

.messages__item--visitor,
.messages__item--typing {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #1f9fa2;
  color: white;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  min-height: 50px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 10px;
}

.chatbox__footer input {
  width: 80%;
  border: none;
  padding: 10px 10px;
  border-radius: 30px;
  text-align: left;
  max-height: 35px;
}

.chatbox__send--footer {
  color: white;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
  padding: 10px;
  background: white;
  border: none;
  outline: none;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.message__item--choice {
  border-radius: 5px;
  background-color: transparent;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
  border: 1px solid #1f9fa2;
  color: #1f9fa2;
  font-weight: bold;
}

.message__item--choice:hover {
  background-color: #1f9fa2;
  color: white;
}

a.linchat {
  color: blue;
}

a:hover.linchat {
  color: cadetblue;
}

/* WAIT ELEMENT */
.dot-pulse {
  --uib-size: 35px;
  --uib-speed: 1.3s;
  --uib-color: #6c757d;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.27);
}

.dot-pulse__dot,
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: block;
  height: calc(var(--uib-size) * 0.18);
  width: calc(var(--uib-size) * 0.18);
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
}

.dot-pulse::before {
  animation: pulse var(--uib-speed) ease-in-out infinite;
}

.dot-pulse__dot {
  animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.125)
    infinite both;
}

.dot-pulse::after {
  animation: pulse var(--uib-speed) ease-in-out calc(var(--uib-speed) * 0.25)
    infinite;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }
}
